{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block title %}
    <section class="page-title bg-primary position-relative">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="text-white font-tertiary">Contacts</h1>
            </div>
          </div>
        </div>
        <!-- background shapes -->
  <img src="{% static 'images/illustrations/page-title.png' %}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{% static 'images/illustrations/leaf-pink-round.png' %}" alt="illustrations" class="bg-shape-2">
  <img src="{% static 'images/illustrations/dots-cyan.png' %}" alt="illustrations" class="bg-shape-3">
  <img src="{% static 'images/illustrations/leaf-orange.png' %}" alt="illustrations" class="bg-shape-4">
  <img src="{% static 'images/illustrations/leaf-yellow.png' %}" alt="illustrations" class="bg-shape-5">
  <img src="{% static 'images/illustrations/dots-group-cyan.png' %}" alt="illustrations" class="bg-shape-6">
  <img src="{% static 'images/illustrations/leaf-cyan-lg.png' %}" alt="illustrations" class="bg-shape-7">
</section>


<section class="section section-on-footer" data-background="{% static 'images/backgrounds/bg-dots.png' %}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contacts.</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contacts.</h4>

          <form  class="row" action = 'contact' method="post">
            {% csrf_token %}
            
              
            <!-- <div class="col-md-6">            
              {{form}}
            </div>
            <div class="col-md-6">            
              <input type="text" id="form.email" name="form.email"  placeholder = "E-mail "class="form-control px-0 mb-4" required>
            </div>
            <div class="col-md-6">            
              <input type="text" id="form.mobile_number" name="form.mobile_number"  placeholder = "Mobile Number "class="form-control px-0 mb-4" required>
            </div>
            <div class="col-md-6">            
              <input type="text" id="form.college_name" name="form.college_name"  placeholder = "College Name "class="form-control px-0 mb-4" required>
            </div>
            <div class="col-md-12">
              <textarea name="form.msg" id="form.msg"  name ="form.msg" placeholder="Type your messages here" class="form-control px-0 mb-4"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">              
              <input type="submit" class="btn btn-primary w-100" value="send">
            </div> -->
            {{form.as_p}}
            <br><br><br>
            <input type="submit" value="Submit">

            

                   
            

          </form>

        </div>
      </div>
    </div>
  </div>
</section>




    {% endblock %}
    
    
</body>
</html>